

@media only screen and (max-width: 768px) {
    .proyectos {
        margin-left: 85px;
        max-width: 74%;
        
    }
    .nproyecto {
        margin-left: 65px;
        max-width: 85%;
        
    }
  }
